*{
    overflow: visible;

}
body{
    text-align: center;
    background-image: url(img1.png)
;background-repeat: no-repeat;
background-position: center center;
color: white;
rotate: 90;
background-size:40rem 40rem;
/* background-position: 0rem 0rem 0rem 2rem; */
}


.box{
    text-align: center;
    height: 12rem;
    width: 12rem;
    border-radius: 15%;
    border: 10px solid black;
    margin: 1rem;
    margin-top: 0px;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}
.yellow{
    background-color: yellow;

}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.flash{
    background-color: white;
}
.userflash{
background-color:rgb(4, 251, 4);
}
@media(max-width:800px){
   
   body{
   background-size:35rem 33rem; 
   } 
   .box{
    height: 10rem;
    width: 10rem;
   }
   .box-container{
    margin-bottom:6rem;
   }
   h3,h4,h5{
    margin:.8rem;
   }
 
}
@media(max-width:415px){
   
   body{
   background-size:20rem 20rem; 

   } 
   .box{
    height: 5rem;
    width: 5rem;
    border: 5px solid black;

   }
   .box-container{
    margin-bottom:2rem;
   }
   h3,h4,h5{
    margin:.5rem;
   }
 h2{
    font-size: 16px;
    margin: 0px;
    color: white !important;
    margin-bottom: 1rem;
 }
 h4{
    font-size: 9px;

 }
 h5{
    font-size: 6px;
 }
}